:root{
  --color: #05c7ce;
  --background-color: #eee;
}

body{
  background-image: url("bnw2.png");
 }

#game-view {
  margin: 0 auto;
  border: 1px #000;
  align-content: center;
}

#game-view-info {
  padding: 8px;
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(156, 243, 243);
  border: 3px solid var(--color);
  border-radius: 10px;
  /* border-bottom: transparent; */
}

#game-view-squares {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  background: transparent;
}

.game-view-square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid var(--color);
  border-radius: 5px;
  background-color: var(--background-color);

  font-family: cursive;
  font-size: 75px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);

  cursor: pointer;
  user-select: none;

}

.game-view-square.highlighted { color: var(--color); }
.game-view-square:hover{ color: var(--color); }


#resultMessage{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: cursive;
  font-size: 40px;
  /* font-weight: bold; */
  line-height: 50px;
  text-align: center;
  padding: 0 25px;

  width: 300px;
  height: 150px;
  position: fixed;
  /* z-index: 1; */
  top: 30px;
  left: 70px;
  background: var(--background-color);
  overflow-x: hidden;

  
  border: 3px solid var(--color);
  border-radius: 10px;

}

.topdiv
{
  width: 80%;
  margin-left:auto;margin-right:auto;margin-top:5%;
  text-align: center;
  position: relative;
  font-family: cursive;
  font-size: 20px;
}

button {
  display: inline-block;
  width: 210px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px rgb(140, 181, 189);
  font-family: cursive;
}

button:hover {background-color: black}

button:active 
{
  background-color: #111111;
  box-shadow: 0 px #666;
  transform: translateY(4px);
}


.sidenav {
  height: 420px; 
  width: 260px; 
  position: fixed; 
  z-index: 1; 
  top: 30px; 
  right: 70px;;
  background: var(--background-color);
  overflow-x: hidden; 
  text-align: center;

  border: 3px solid var(--color);
  border-radius: 10px;

  text-decoration: none;
  font-size: 20px;
  font-family: cursive;
  color: #180101;
  display: block;
}

.scoreBoard{
  font-size: 20px;
}

.sidenav2 {
  width: 300px;
  height: 200px;
  position: fixed;
  z-index: 1;
  top: 225px;
  left: 70px;
  background: var(--background-color);
  overflow-x: hidden;
  padding: 8px 0;

  border: 3px solid var(--color);
  border-radius: 10px;
}

.selectBoard {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  border: 3px solid var(--color);
  border-radius: 10px;
  display: inline-block;
  position: relative;
  outline: none;
}

h2 {
  font-size: 35px;
  text-align: center;
}

table {
    padding: 12px 20px;
} 

td {
  padding: 10px 10px;
}

.gameDetails 
{
    display: flex;
    flex-flow: column;
    height: 400px;
    width: 90%;
    border: 1px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(61, 28, 28, 0.15);
    margin-left:auto;margin-right:auto;
}
table thead {
    flex: 0 0 auto;
    width: calc(100% );
}
table tbody {
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    background-color: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

table tbody tr {
    width: 100%;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
table thead tr {
    background-color: #0C343D;
    color: #ffffff;
    text-align: left;
}
.gameDetails.td {
    padding: 12px 15px;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}

.winStats {
    display: flex;
    flex-flow: column;
    height: 400px;
    width: 90%;
    border: 1px;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(61, 28, 28, 0.15);
    margin-left:auto;margin-right:auto;
}
.winStats.td {
  padding: 2px 2px;
}

.writing {
  float: left;
  margin: 0 1.5%;
  font-size: 20px;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  border: 1px;
  float: right;
  margin: 0 1.5%;
  width: 50%;
  background-color: var(--background-color);
  /* margin-left: auto;  */
  /* outline: solid 1px black; */

}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 0.6%; /* Add top padding */
  padding-bottom: 0.6%; /* Add bottom padding */
  color: white; /* White text color */
}

.x-1st-x-win {width: 0.1%; background-color: #044f72;} /* Green */
.x-2nd-x-win {width: 0.1%; background-color: #0f6e9b;} /* Blue */
.o-1st-o-win {width: 0.1%; background-color: #1b8cc0;} /* Red */
.o-2nd-o-win {width: 0.1%; background-color: #11a3e7;} /* Dark Grey */